In [1]:
from scipy.io import loadmat
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
mat_arr = loadmat('../../data/imdb_crop/imdb.mat')['imdb']

Possible fields in mat files:
![matlab_fields.png](images/matlab_fields.png)

In [3]:
face_coords = mat_arr['face_location'][0][0][0]
face_coords

array([array([[1072.926,  161.838, 1214.784,  303.696]]),
       array([[477.184, 100.352, 622.592, 245.76 ]]),
       array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
       ..., array([[  1,   1, 453, 640]], dtype=uint16),
       array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
       array([[457.524,  41.748, 518.016, 102.24 ]])], dtype=object)

In [41]:
urls = mat_arr['full_path'][0][0][0]
urls = list(map(lambda url: '../data/imdb_crop/'+url[0], urls))
print(len(urls))
urls[:10]

460723

['../data/imdb_crop/01/nm0000001_rm124825600_1899-5-10_1968.jpg',
 '../data/imdb_crop/01/nm0000001_rm3343756032_1899-5-10_1970.jpg',
 '../data/imdb_crop/01/nm0000001_rm577153792_1899-5-10_1968.jpg',
 '../data/imdb_crop/01/nm0000001_rm946909184_1899-5-10_1968.jpg',
 '../data/imdb_crop/01/nm0000001_rm980463616_1899-5-10_1968.jpg',
 '../data/imdb_crop/02/nm0000002_rm1075631616_1924-9-16_1991.jpg',
 '../data/imdb_crop/02/nm0000002_rm1346607872_1924-9-16_2004.jpg',
 '../data/imdb_crop/02/nm0000002_rm1363385088_1924-9-16_2004.jpg',
 '../data/imdb_crop/02/nm0000002_rm1411175936_1924-9-16_1991.jpg',
 '../data/imdb_crop/02/nm0000002_rm1447271168_1924-9-16_2004.jpg']

In [42]:
photo_taken = mat_arr['photo_taken'][0][0][0]
photo_taken[:10]

array([1968, 1970, 1968, 1968, 1968, 1991, 2004, 2004, 1991, 2004],
      dtype=uint16)

In [43]:
dob = mat_arr['dob'][0][0][0]

In [44]:
year_to_subtr = []
broken_idx = []

In [45]:
for i, matlab_datenum in enumerate(dob):
    try:
        dt = timedelta(days=int(matlab_datenum) -366) + datetime(1,1,1)
        dt_arr = list(dt.timetuple())
        year = dt_arr[0]

        # suppose that photo was taken at 1 of July
        if dt_arr[1] == 7:
            if dt_arr[2] > 1:
                year += 1
        if dt_arr[1] > 7:
            year += 1
        year_to_subtr.append(year)
    except:
        print("broken matlab serial number:", i,  matlab_datenum)
        broken_idx.append(i)
    if (i % 10000) == 0:
         print("record", i+1, "processed, successfully parsed", len(year_to_subtr), 'years... ')

record 1 processed, successfully parsed 1 years...
record 10001 processed, successfully parsed 10001 years...
record 20001 processed, successfully parsed 20001 years...
record 30001 processed, successfully parsed 30001 years...
record 40001 processed, successfully parsed 40001 years...
record 50001 processed, successfully parsed 50001 years...
record 60001 processed, successfully parsed 60001 years...
record 70001 processed, successfully parsed 70001 years...
record 80001 processed, successfully parsed 80001 years...
record 90001 processed, successfully parsed 90001 years...
record 100001 processed, successfully parsed 100001 years...
record 110001 processed, successfully parsed 110001 years...
record 120001 processed, successfully parsed 120001 years...
record 130001 processed, successfully parsed 130001 years...
broken matlab serial number: 139296 357
record 140001 processed, successfully parsed 140000 years...
record 150001 processed, successfully parsed 150000 years...
broken matlab serial number: 157487 142
record 160001 processed, successfully parsed 159999 years...
record 170001 processed, successfully parsed 169999 years...
broken matlab serial number: 178453 323
broken matlab serial number: 178454 323
broken matlab serial number: 178455 323
record 180001 processed, successfully parsed 179996 years...
broken matlab serial number: 181489 213
broken matlab serial number: 181490 213
broken matlab serial number: 181491 213
broken matlab serial number: 181492 213
broken matlab serial number: 181493 213
broken matlab serial number: 181494 213
broken matlab serial number: 181495 213
broken matlab serial number: 181496 213
broken matlab serial number: 181497 213
broken matlab serial number: 181498 213
broken matlab serial number: 181499 213
broken matlab serial number: 181500 213
broken matlab serial number: 181501 213
broken matlab serial number: 181502 213
broken matlab serial number: 181503 213
broken matlab serial number: 181504 213
broken matlab serial number: 181505 213
broken matlab serial number: 181506 213
broken matlab serial number: 181507 213
broken matlab serial number: 181508 213
broken matlab serial number: 184829 294
record 190001 processed, successfully parsed 189975 years...
record 200001 processed, successfully parsed 199975 years...
broken matlab serial number: 204135 232
broken matlab serial number: 209757 220
broken matlab serial number: 209758 220
record 210001 processed, successfully parsed 209972 years...
broken matlab serial number: 211098 252
broken matlab serial number: 214362 324
broken matlab serial number: 214363 324
broken matlab serial number: 215330 218
broken matlab serial number: 215331 218
broken matlab serial number: 215332 218
broken matlab serial number: 215333 218
broken matlab serial number: 215334 218
record 220001 processed, successfully parsed 219964 years...
broken matlab serial number: 225738 240
broken matlab serial number: 225739 240
broken matlab serial number: 225740 240
broken matlab serial number: 225754 190
broken matlab serial number: 229269 126
broken matlab serial number: 229270 126
record 230001 processed, successfully parsed 229958 years...
broken matlab serial number: 237004 75
broken matlab serial number: 237005 75
record 240001 processed, successfully parsed 239956 years...
record 250001 processed, successfully parsed 249956 years...
broken matlab serial number: 252794 364
broken matlab serial number: 253788 234
broken matlab serial number: 253789 234
broken matlab serial number: 253790 234
broken matlab serial number: 253791 234
broken matlab serial number: 253792 234
record 260001 processed, successfully parsed 259950 years...
record 270001 processed, successfully parsed 269950 years...
broken matlab serial number: 273886 47
broken matlab serial number: 273887 47
broken matlab serial number: 276173 345
record 280001 processed, successfully parsed 279947 years...
broken matlab serial number: 287049 291
record 290001 processed, successfully parsed 289946 years...
record 300001 processed, successfully parsed 299946 years...
broken matlab serial number: 302065 221
broken matlab serial number: 302066 221
broken matlab serial number: 302067 221
broken matlab serial number: 302068 221
broken matlab serial number: 302069 221
broken matlab serial number: 302070 221
broken matlab serial number: 302071 221
broken matlab serial number: 302072 221
broken matlab serial number: 302073 221
broken matlab serial number: 302074 221
broken matlab serial number: 302075 221
broken matlab serial number: 303959 246
record 310001 processed, successfully parsed 309934 years...
broken matlab serial number: 312180 363
broken matlab serial number: 314072 53
broken matlab serial number: 314073 53
broken matlab serial number: 314074 53
broken matlab serial number: 314075 53
broken matlab serial number: 317804 249
broken matlab serial number: 317805 249
broken matlab serial number: 318561 192
record 320001 processed, successfully parsed 319926 years...
broken matlab serial number: 324170 175
broken matlab serial number: 324171 175
broken matlab serial number: 324172 175
broken matlab serial number: 324173 175
broken matlab serial number: 324174 175
broken matlab serial number: 324175 175
broken matlab serial number: 324176 175
broken matlab serial number: 324177 175
record 330001 processed, successfully parsed 329918 years...
record 340001 processed, successfully parsed 339918 years...
record 350001 processed, successfully parsed 349918 years...
broken matlab serial number: 350619 345
broken matlab serial number: 350620 345
broken matlab serial number: 350621 345
broken matlab serial number: 350622 345
broken matlab serial number: 350623 345
broken matlab serial number: 350624 345
broken matlab serial number: 357560 281
record 360001 processed, successfully parsed 359911 years...
broken matlab serial number: 368668 264
broken matlab serial number: 368669 264
record 370001 processed, successfully parsed 369909 years...
record 380001 processed, successfully parsed 379909 years...
record 390001 processed, successfully parsed 389909 years...
broken matlab serial number: 394817 352
broken matlab serial number: 394818 352
broken matlab serial number: 394819 352
broken matlab serial number: 394820 352
broken matlab serial number: 394821 352
broken matlab serial number: 394822 352
broken matlab serial number: 394823 352
broken matlab serial number: 394824 352
broken matlab serial number: 394825 352
broken matlab serial number: 394826 352
broken matlab serial number: 394827 352
record 400001 processed, successfully parsed 399898 years...
broken matlab serial number: 403215 334
broken matlab serial number: 403226 103
record 410001 processed, successfully parsed 409896 years...
broken matlab serial number: 416991 204
broken matlab serial number: 418352 192
broken matlab serial number: 418353 192
broken matlab serial number: 418354 192
broken matlab serial number: 418355 192
record 420001 processed, successfully parsed 419891 years...
broken matlab serial number: 422404 311
record 430001 processed, successfully parsed 429890 years...
broken matlab serial number: 431963 276
broken matlab serial number: 431964 276
broken matlab serial number: 436922 253
broken matlab serial number: 436923 253
broken matlab serial number: 436924 253
broken matlab serial number: 436925 253
broken matlab serial number: 436926 253
record 440001 processed, successfully parsed 439883 years...
broken matlab serial number: 449108 251
broken matlab serial number: 449109 251
broken matlab serial number: 449110 251
broken matlab serial number: 449111 251
record 450001 processed, successfully parsed 449879 years...
broken matlab serial number: 454409 318
broken matlab serial number: 455690 209
broken matlab serial number: 455691 209
broken matlab serial number: 455692 209
broken matlab serial number: 455693 209
broken matlab serial number: 455694 209
broken matlab serial number: 455695 209
record 460001 processed, successfully parsed 459872 years...

Вдруг из урла можно получить год рождения

In [46]:
urls[178453], urls[178454]

('../data/imdb_crop/55/nm0005555_rm2332859648_0-11-18_2006.jpg',
 '../data/imdb_crop/55/nm0005555_rm2469698304_0-11-18_2005.jpg')

Дата рождения -- 0_11_18. Видимо, нет. Убираем записи с id из broken_idx

In [47]:
face_coords = np.delete(face_coords,broken_idx)
face_coords = list(map(lambda coords: coords[0], face_coords))
len(face_coords)

460594

In [48]:
urls = np.delete(urls,broken_idx)
len(urls)

460594

In [49]:
len(year_to_subtr)

460594

In [50]:
photo_taken = np.delete(photo_taken,broken_idx)
len(photo_taken)

460594

In [51]:
ages = list(map(lambda taken, yob: taken - yob, photo_taken, year_to_subtr))
ages[:20]

[69,
 71,
 69,
 69,
 69,
 66,
 79,
 79,
 66,
 79,
 83,
 66,
 49,
 82,
 49,
 81,
 81,
 81,
 81,
 79]

In [52]:
def age_to_clusters(age):
    if age < 14:
        return 0
    if age < 26:
        return 1
    if age < 46:
        return 2
    if age < 66:
        return 3
    return 4

In [53]:
clusters = list(map(age_to_clusters, ages))
clusters[:20]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 3, 4, 4, 4, 4, 4]

In [54]:
np.unique(clusters, return_counts=True)

(array([0, 1, 2, 3, 4]), array([ 10348,  80471, 271432,  84596,  13747]))

In [55]:
result = {}
result['urls'] = urls
result['face_coords'] = face_coords
result['age_cluster'] = clusters

In [69]:
df = pd.DataFrame(result, index=None)
print(df.shape)
df.head(20)

(460594, 3)

,urls,face_coords,age_cluster
0,../data/imdb_crop/01/nm0000001_rm124825600_189...,"[1072.926, 161.838, 1214.7839999999999, 303.69...",4
1,../data/imdb_crop/01/nm0000001_rm3343756032_18...,"[477.184, 100.352, 622.592, 245.76]",4
2,../data/imdb_crop/01/nm0000001_rm577153792_189...,"[114.96964308962852, 114.96964308962852, 451.6...",4
3,../data/imdb_crop/01/nm0000001_rm946909184_189...,"[622.8855056426588, 424.21750383700805, 844.33...",4
4,../data/imdb_crop/01/nm0000001_rm980463616_189...,"[1013.8590023603723, 233.8820422075853, 1201.5...",4
5,../data/imdb_crop/02/nm0000002_rm1075631616_19...,"[686.6768205940973, 458.4672137293982, 1198.10...",4
6,../data/imdb_crop/02/nm0000002_rm1346607872_19...,"[78.23569406558903, 52.335129377059346, 194.25...",4
7,../data/imdb_crop/02/nm0000002_rm1363385088_19...,"[64.30867103752385, 64.30867103752385, 207.267...",4
8,../data/imdb_crop/02/nm0000002_rm1411175936_19...,"[212.7672369223355, 1055.6441846116777, 526.79...",4
9,../data/imdb_crop/02/nm0000002_rm1447271168_19...,"[242.176, 49.664, 278.528, 86.016]",4
10,../data/imdb_crop/02/nm0000002_rm1624085760_19...,"[108.03894850648923, 28.82624960697085, 158.42...",4
11,../data/imdb_crop/02/nm0000002_rm1646056960_19...,"[72.28774564077851, 1055.6441846116777, 386.31...",4
12,../data/imdb_crop/02/nm0000002_rm221957120_192...,"[3173.144692593433, 401.0408365741791, 4059.15...",3
13,../data/imdb_crop/02/nm0000002_rm2287049216_19...,"[138.80620247948153, 33.92673852953003, 181.15...",4
14,../data/imdb_crop/02/nm0000002_rm238734336_192...,"[2135.2177839424635, 765.8537799794512, 3499.4...",3
15,../data/imdb_crop/02/nm0000002_rm2585828096_19...,"[70.08922573752601, 87.46603217190751, 225.898...",4
16,../data/imdb_crop/02/nm0000002_rm2602605312_19...,"[52.186, 121.05, 129.12, 197.984]",4
17,../data/imdb_crop/02/nm0000002_rm2619382528_19...,"[213.212, 58.588, 299.584, 144.96]",4
18,../data/imdb_crop/02/nm0000002_rm2769394176_19...,"[109.42467458662298, 82.24100593996724, 231.06...",4
19,../data/imdb_crop/02/nm0000002_rm2780403712_19...,"[117.05057012254504, 74.12636007739687, 171.69...",4

In [57]:
with open('../../csv/total.csv', mode='w', encoding='utf-8') as f_csv:
    df.to_csv(f_csv)

In [76]:
local_urls = [
    '00/nm4415900_rm2517889024_1993-9-9_2015.jpg',
    '00/nm0002100_rm985837568_1975-6-18_2011.jpg',
    '00/nm0000200_rm2120191744_1955-5-17_2010.jpg',
    '00/nm0000100_rm1001569280_1955-1-6_2011.jpg',
    '01/nm4652001_rm4133345280_2002-7-23_2013.jpg',
    '01/nm2692301_rm3067461376_1984-2-28_2011.jpg',
    '01/nm1107001_rm3321071360_1978-9-23_2010.jpg',
    '01/nm0365501_rm2791093760_1982-4-6_2011.jpg'
]

In [77]:
local_urls = list(map(lambda url: '../data/imdb_crop/'+url, local_urls))
print(local_urls)

['../data/imdb_crop/00/nm4415900_rm2517889024_1993-9-9_2015.jpg', '../data/imdb_crop/00/nm0002100_rm985837568_1975-6-18_2011.jpg', '../data/imdb_crop/00/nm0000200_rm2120191744_1955-5-17_2010.jpg', '../data/imdb_crop/00/nm0000100_rm1001569280_1955-1-6_2011.jpg', '../data/imdb_crop/01/nm4652001_rm4133345280_2002-7-23_2013.jpg', '../data/imdb_crop/01/nm2692301_rm3067461376_1984-2-28_2011.jpg', '../data/imdb_crop/01/nm1107001_rm3321071360_1978-9-23_2010.jpg', '../data/imdb_crop/01/nm0365501_rm2791093760_1982-4-6_2011.jpg']

In [78]:
df1 = df.loc[df['urls'].isin(local_urls)]
print(df1.shape)
df1.head()

(8, 3)

,urls,face_coords,age_cluster
4012,../data/imdb_crop/00/nm0000100_rm1001569280_19...,"[547.3336103513901, 79.4762300501986, 896.7266...",3
28610,../data/imdb_crop/00/nm0000200_rm2120191744_19...,"[214.07789842492062, 48.77991254756272, 275.49...",3
135422,../data/imdb_crop/00/nm0002100_rm985837568_197...,"[303.1723815723427, 453.7345723585141, 978.654...",2
185827,../data/imdb_crop/01/nm1107001_rm3321071360_19...,"[85.38616998788248, 85.38616998788248, 237.255...",2
224698,../data/imdb_crop/00/nm4415900_rm2517889024_19...,"[1417.7602885355477, 710.5121442677738, 1993.1...",1

In [79]:
with open('../../csv/total.csv', mode='w', encoding='utf-8') as f_csv:
    df1.to_csv(f_csv)